export DB_DATABASE=
export DB_USERNAME=
export DB_PASSWORD=
export DB_HOST=127.0.0.1
export DB_PORT=
export TZ=

export DATABASE_URL="ecto://$DB_USERNAME:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_DATABASE"

export GITHUB_CLIENT_ID=
export GITHUB_CLIENT_SECRET=

export GOOGLE_CLIENT_ID=
export GOOGLE_CLIENT_SECRET=