PHX_PORT=4000
PHX_HOST="localhost"

TZ=

DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=

SECRET_KEY_BASE=

DATABASE_URL="ecto://$DB_USERNAME:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_DATABASE"

AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=

AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
