<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="ModernResume" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="h-full">
    <header class="sticky top-0 bg-white z-50 shadow-md h-16">
      <nav class="h-full flex items-center">
        <ul class="relative flex items-center gap-4 p-4 w-full justify-end ">
          <%= if @current_user do %>
            <li>
              <.link href={~p"/users/settings"}>Settings</.link>
            </li>
            <li>{@current_user.email}</li>
            <li>
              <.link href={~p"/users/log_out"} method="delete">Log out</.link>
            </li>
          <% else %>
            <li>
              <.link href={~p"/users/register"}>Register</.link>
            </li>
            <li>
              <.link href={~p"/users/log_in"}>Log in</.link>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    {@inner_content}
  </body>
</html>
